.card-photo {
  cursor: "pointer";
  &__image {
    //position: absolute;
    // top:0;
    // left: 0;
    // width: 100%;
    // height:100%;
  }
  &__title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    color: white;
  }
}
